In [1]:
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from scipy import stats
print ('Ran')

Ran

In [2]:
merged_train =pd.read_csv('C:/Users/dbda/Desktop/Work/Merged Train/merged_train.csv')

In [3]:
merged_train.shape

(307511, 375)

In [4]:
merged_train['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

In [5]:
def replace_XNA_XAP(table):

    # Replace all values of 'XNA', 'XAP' with np.nan
    table.replace(to_replace = {'XNA': np.nan, 'XAP': np.nan}, value = None, inplace = True)
    
    return table

In [6]:
merged_train = replace_XNA_XAP(merged_train)

In [7]:
merged_train=merged_train.drop(['TARGET'],axis=1)

In [8]:
merged_train.shape

(307511, 374)

In [9]:
cat_features = [f for f in merged_train.columns if merged_train[f].dtype == 'object']

In [10]:
cat_features

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [11]:
num_features = [f for f in merged_train.columns if merged_train[f].dtype != 'object']

In [12]:
num_features

['SK_ID_CURR',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT_x',
 'AMT_ANNUITY_x',
 'AMT_GOODS_PRICE_x',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START_x',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'TOTALAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'AMT_ANNUITY_y',
 'AMT_APPLICATION',
 'AMT_CREDIT_y',
 'AMT_DOWN_PAYMENT',
 'AMT_GOODS_PRICE_y',
 'HOUR_APPR_PROCESS_START_y',
 'RATE_DOWN_PAYMENT',
 'RATE_INTEREST_PRIMARY',
 'RATE_INTEREST_PRIVILEGED',
 'DAYS_DECISION',
 'SELLERPLACE_AREA',
 'CNT_PAYMENT',
 'DAYS_FIRST_DRAWING',
 'DAYS_FIRST_DUE',
 'DAYS_LAST_DUE_1ST_VERSION',
 'DAYS_LAST_DUE',
 'DAYS_TERMINATION',
 'NAME_CONTRACT_TYPE_Cash loans',
 'NAME_CONTRACT_TYPE_Consumer loans',
 'NAME_CONTRACT_TYPE_Revolving loans',
 'NAME_CONTRACT_TYPE_XNA',
 'WEEKDAY_APPR_PROCESS_START_FRIDAY',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
 'NAME_CASH_LOAN_PURPOSE_Building a house or an annex',
 'NAME_CASH_LOAN_PURPOSE_Business development',
 'NAME_CASH_LOAN_PURPOSE_Buying a garage',
 'NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land',
 'NAME_CASH_LOAN_PURPOSE_Buying a home',
 'NAME_CASH_LOAN_PURPOSE_Buying a new car',
 'NAME_CASH_LOAN_PURPOSE_Buying a used car',
 'NAME_CASH_LOAN_PURPOSE_Car repairs',
 'NAME_CASH_LOAN_PURPOSE_Education',
 'NAME_CASH_LOAN_PURPOSE_Everyday expenses',
 'NAME_CASH_LOAN_PURPOSE_Furniture',
 'NAME_CASH_LOAN_PURPOSE_Gasification / water supply',
 'NAME_CASH_LOAN_PURPOSE_Hobby',
 'NAME_CASH_LOAN_PURPOSE_Journey',
 'NAME_CASH_LOAN_PURPOSE_Medicine',
 'NAME_CASH_LOAN_PURPOSE_Money for a third person',
 'NAME_CASH_LOAN_PURPOSE_Other',
 'NAME_CASH_LOAN_PURPOSE_Payments on other loans',
 'NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment',
 'NAME_CASH_LOAN_PURPOSE_Refusal to name the goal',
 'NAME_CASH_LOAN_PURPOSE_Repairs',
 'NAME_CASH_LOAN_PURPOSE_Urgent needs',
 'NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday',
 'NAME_CASH_LOAN_PURPOSE_XAP',
 'NAME_CASH_LOAN_PURPOSE_XNA',
 'NAME_CONTRACT_STATUS_Approved_x',
 'NAME_CONTRACT_STATUS_Canceled_x',
 'NAME_CONTRACT_STATUS_Refused_x',
 'NAME_CONTRACT_STATUS_Unused offer',
 'NAME_PAYMENT_TYPE_Cash through the bank',
 'NAME_PAYMENT_TYPE_Cashless from the account of the employer',
 'NAME_PAYMENT_TYPE_Non-cash from your account',
 'NAME_PAYMENT_TYPE_XNA',
 'CODE_REJECT_REASON_CLIENT',
 'CODE_REJECT_REASON_HC',
 'CODE_REJECT_REASON_LIMIT',
 'CODE_REJECT_REASON_SCO',
 'CODE_REJECT_REASON_SCOFR',
 'CODE_REJECT_REASON_SYSTEM',
 'CODE_REJECT_REASON_VERIF',
 'CODE_REJECT_REASON_XAP',
 'CODE_REJECT_REASON_XNA',
 'NAME_TYPE_SUITE_Children',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_CLIENT_TYPE_New',
 'NAME_CLIENT_TYPE_Refreshed',
 'NAME_CLIENT_TYPE_Repeater',
 'NAME_CLIENT_TYPE_XNA',
 'NAME_GOODS_CATEGORY_Additional Service',
 'NAME_GOODS_CATEGORY_Animals',
 'NAME_GOODS_CATEGORY_Audio/Video',
 'NAME_GOODS_CATEGORY_Auto Accessories',
 'NAME_GOODS_CATEGORY_Clothing and Accessories',
 'NAME_GOODS_CATEGORY_Computers',
 'NAME_GOODS_CATEGORY_Construction Materials',
 'NAME_GOODS_CATEGORY_Consumer Electronics',
 'NAME_GOODS_CATEGORY_Direct Sales',
 'NAME_GOODS_CATEGORY_Education',
 'NAME_GOODS_CATEGORY_Fitness',
 'NAME_GOODS_CATEGORY_Furniture',
 'NAME_GOODS_CATEGORY_Gardening',
 'NAME_GOODS_CATEGORY_Homewares',
 'NAME_GOODS_CATEGORY_House Construction',
 'NAME_GOODS_CATEGORY_Insurance',
 'NAME_GOODS_CATEGORY_Jewelry',
 'NAME_GOODS_CATEGORY_Medical Supplies',
 'NAME_GOODS_CATEGORY_Medicine',
 'NAME_GOODS_CATEGORY_Mobile',
 'NAME_GOODS_CATEGORY_Office Appliances',
 'NAME_GOODS_CATEGORY_Other',
 'NAME_GOODS_CATEGORY_Photo / Cinema Equipment',
 'NAME_GOODS_CATEGORY_Sport and Leisure',
 'NAME_GOODS_CATEGORY_Tourism',
 'NAME_GOODS_CATEGORY_Vehicles',
 'NAME_GOODS_CATEGORY_Weapon',
 'NAME_GOODS_CATEGORY_XNA',
 'NAME_PORTFOLIO_Cards',
 'NAME_PORTFOLIO_Cars',
 'NAME_PORTFOLIO_Cash',
 'NAME_PORTFOLIO_POS',
 'NAME_PORTFOLIO_XNA',
 'NAME_PRODUCT_TYPE_XNA',
 'NAME_PRODUCT_TYPE_walk-in',
 'NAME_PRODUCT_TYPE_x-sell',
 'CHANNEL_TYPE_AP+ (Cash loan)',
 'CHANNEL_TYPE_Car dealer',
 'CHANNEL_TYPE_Channel of corporate sales',
 'CHANNEL_TYPE_Contact center',
 'CHANNEL_TYPE_Country-wide',
 'CHANNEL_TYPE_Credit and cash offices',
 'CHANNEL_TYPE_Regional / Local',
 'CHANNEL_TYPE_Stone',
 'NAME_SELLER_INDUSTRY_Auto technology',
 'NAME_SELLER_INDUSTRY_Clothing',
 'NAME_SELLER_INDUSTRY_Connectivity',
 'NAME_SELLER_INDUSTRY_Construction',
 'NAME_SELLER_INDUSTRY_Consumer electronics',
 'NAME_SELLER_INDUSTRY_Furniture',
 'NAME_SELLER_INDUSTRY_Industry',
 'NAME_SELLER_INDUSTRY_Jewelry',
 'NAME_SELLER_INDUSTRY_MLM partners',
 'NAME_SELLER_INDUSTRY_Tourism',
 'NAME_SELLER_INDUSTRY_XNA',
 'NAME_YIELD_GROUP_XNA',
 'NAME_YIELD_GROUP_high',
 'NAME_YIELD_GROUP_low_action',
 'NAME_YIELD_GROUP_low_normal',
 'NAME_YIELD_GROUP_middle',
 'PRODUCT_COMBINATION_Card Street',
 'PRODUCT_COMBINATION_Card X-Sell',
 'PRODUCT_COMBINATION_Cash',
 'PRODUCT_COMBINATION_Cash Street: high',
 'PRODUCT_COMBINATION_Cash Street: low',
 'PRODUCT_COMBINATION_Cash Street: middle',
 'PRODUCT_COMBINATION_Cash X-Sell: high',
 'PRODUCT_COMBINATION_Cash X-Sell: low',
 'PRODUCT_COMBINATION_Cash X-Sell: middle',
 'PRODUCT_COMBINATION_POS household with interest',
 'PRODUCT_COMBINATION_POS household without interest',
 'PRODUCT_COMBINATION_POS industry with interest',
 'PRODUCT_COMBINATION_POS industry without interest',
 'PRODUCT_COMBINATION_POS mobile with interest',
 'PRODUCT_COMBINATION_POS mobile without interest',
 'PRODUCT_COMBINATION_POS other with interest',
 'PRODUCT_COMBINATION_POS others without interest',
 'NFLAG_LAST_APPL_IN_DAY',
 'NFLAG_INSURED_ON_APPROVAL',
 'FLAG_LAST_APPL_PER_CONTRACT_N',
 'FLAG_LAST_APPL_PER_CONTRACT_Y',
 'MONTHS_BALANCE_x',
 'CNT_INSTALMENT',
 'CNT_INSTALMENT_FUTURE',
 'SK_DPD_x',
 'SK_DPD_DEF_x',
 'NAME_CONTRACT_STATUS_Active_x',
 'NAME_CONTRACT_STATUS_Amortized debt',
 'NAME_CONTRACT_STATUS_Approved_y',
 'NAME_CONTRACT_STATUS_Canceled_y',
 'NAME_CONTRACT_STATUS_Completed_x',
 'NAME_CONTRACT_STATUS_Demand_x',
 'NAME_CONTRACT_STATUS_Returned to the store',
 'NAME_CONTRACT_STATUS_Signed_x',
 'NAME_CONTRACT_STATUS_XNA',
 'DAYS_INSTALMENT',
 'DAYS_ENTRY_PAYMENT',
 'AMT_INSTALMENT',
 'AMT_PAYMENT',
 'NUM_INSTALMENT_VERSION',
 'NUM_INSTALMENT_NUMBER',
 'MONTHS_BALANCE_y',
 'AMT_BALANCE',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_DRAWINGS_ATM_CURRENT',
 'AMT_DRAWINGS_CURRENT',
 'AMT_DRAWINGS_OTHER_CURRENT',
 'AMT_DRAWINGS_POS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_CURRENT',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'CNT_DRAWINGS_ATM_CURRENT',
 'CNT_DRAWINGS_CURRENT',
 'CNT_DRAWINGS_OTHER_CURRENT',
 'CNT_DRAWINGS_POS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM',
 'SK_DPD_y',
 'SK_DPD_DEF_y',
 'NAME_CONTRACT_STATUS_Active_y',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed_y',
 'NAME_CONTRACT_STATUS_Demand_y',
 'NAME_CONTRACT_STATUS_Refused_y',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed_y',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY',
 'MONTHS_BALANCE',
 'CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_CURRENCY_currency 1',
 'CREDIT_CURRENCY_currency 2',
 'CREDIT_CURRENCY_currency 3',
 'CREDIT_CURRENCY_currency 4',
 'CREDIT_TYPE_Another type of loan',
 'CREDIT_TYPE_Car loan',
 'CREDIT_TYPE_Cash loan (non-earmarked)',
 'CREDIT_TYPE_Consumer credit',
 'CREDIT_TYPE_Credit card',
 'CREDIT_TYPE_Interbank credit',
 'CREDIT_TYPE_Loan for business development',
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'CREDIT_TYPE_Loan for the purchase of equipment',
 'CREDIT_TYPE_Loan for working capital replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile operator loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real estate loan',
 'CREDIT_TYPE_Unknown type of loan',
 'STATUS_0',
 'STATUS_1',
 'STATUS_2',
 'STATUS_3',
 'STATUS_4',
 'STATUS_5',
 'STATUS_C',
 'STATUS_X']

In [13]:
cat_df=merged_train[cat_features]
cat_df.shape

(307511, 16)

In [14]:
cat_df['SK_ID_CURR']=merged_train['SK_ID_CURR']

C:\Users\dbda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
cat_df.shape

(307511, 17)

In [16]:
cat_df.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,SK_ID_CURR
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No,100002
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No,100003
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN,100004
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN,100006
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN,100007

In [17]:
cat_cols = cat_df.columns

In [18]:
cat_cols

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'SK_ID_CURR'],
      dtype='object')

In [19]:
num_df=merged_train[num_features]
num_df.shape

(307511, 358)

In [20]:
num_df.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,-3648.0,...,0.0,0.0,45.0,27.0,0.0,0.0,0.0,0.0,23.0,15.0
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,-1186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,-4260.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,-9833.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,-4311.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
num_cols = num_df.columns

In [22]:
num_cols

Index(['SK_ID_CURR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT_x',
       'AMT_ANNUITY_x', 'AMT_GOODS_PRICE_x', 'REGION_POPULATION_RELATIVE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
       ...
       'CREDIT_TYPE_Real estate loan', 'CREDIT_TYPE_Unknown type of loan',
       'STATUS_0', 'STATUS_1', 'STATUS_2', 'STATUS_3', 'STATUS_4', 'STATUS_5',
       'STATUS_C', 'STATUS_X'],
      dtype='object', length=358)

In [23]:
def missing_values(df):
    
    total_missing = df.isnull().sum()/df.shape[0]
    percent_missing = total_missing*100
    return percent_missing.sort_values(ascending=False).round(1)

In [ ]:
num_train_mis_values_before = missing_values(num_df)

In [ ]:
num_train_mis_values_before

RATE_INTEREST_PRIVILEGED              98.5
RATE_INTEREST_PRIMARY                 98.5
AMT_PAYMENT_CURRENT                   80.1
CNT_DRAWINGS_POS_CURRENT              80.1
CNT_DRAWINGS_OTHER_CURRENT            80.1
CNT_DRAWINGS_ATM_CURRENT              80.1
AMT_DRAWINGS_POS_CURRENT              80.1
AMT_DRAWINGS_OTHER_CURRENT            80.1
AMT_DRAWINGS_ATM_CURRENT              80.1
AMT_ANNUITY                           74.0
AMT_RECIVABLE                         71.7
AMT_RECEIVABLE_PRINCIPAL              71.7
NAME_CONTRACT_STATUS_Approved         71.7
NAME_CONTRACT_STATUS_Signed_y         71.7
NAME_CONTRACT_STATUS_Active_y         71.7
AMT_TOTAL_RECEIVABLE                  71.7
AMT_PAYMENT_TOTAL_CURRENT             71.7
CNT_DRAWINGS_CURRENT                  71.7
SK_DPD_DEF_y                          71.7
AMT_INST_MIN_REGULARITY               71.7
SK_DPD_y                              71.7
AMT_DRAWINGS_CURRENT                  71.7
NAME_CONTRACT_STATUS_Completed_y      71.7
AMT_CREDIT_LIMIT_ACTUAL               71.7
NAME_CONTRACT_STATUS_Demand_y         71.7
AMT_BALANCE                           71.7
NAME_CONTRACT_STATUS_Refused_y        71.7
MONTHS_BALANCE_y                      71.7
NAME_CONTRACT_STATUS_Sent proposal    71.7
CNT_INSTALMENT_MATURE_CUM             71.7
                                      ...
REG_REGION_NOT_WORK_REGION             0.0
AMT_CREDIT_x                           0.0
AMT_INCOME_TOTAL                       0.0
CNT_CHILDREN                           0.0
REG_REGION_NOT_LIVE_REGION             0.0
FLAG_DOCUMENT_3                        0.0
LIVE_REGION_NOT_WORK_REGION            0.0
REG_CITY_NOT_LIVE_CITY                 0.0
FLAG_DOCUMENT_21                       0.0
FLAG_DOCUMENT_20                       0.0
FLAG_DOCUMENT_19                       0.0
FLAG_DOCUMENT_18                       0.0
FLAG_DOCUMENT_17                       0.0
FLAG_DOCUMENT_16                       0.0
FLAG_DOCUMENT_15                       0.0
FLAG_DOCUMENT_14                       0.0
FLAG_DOCUMENT_13                       0.0
FLAG_DOCUMENT_12                       0.0
FLAG_DOCUMENT_11                       0.0
FLAG_DOCUMENT_10                       0.0
FLAG_DOCUMENT_9                        0.0
FLAG_DOCUMENT_8                        0.0
FLAG_DOCUMENT_7                        0.0
FLAG_DOCUMENT_6                        0.0
FLAG_DOCUMENT_5                        0.0
FLAG_DOCUMENT_4                        0.0
FLAG_DOCUMENT_2                        0.0
LIVE_CITY_NOT_WORK_CITY                0.0
REG_CITY_NOT_WORK_CITY                 0.0
SK_ID_CURR                             0.0
Length: 358, dtype: float64

In [ ]:
cat_train_mis_values_before = missing_values(cat_df)

In [ ]:
cat_train_mis_values_before

FONDKAPREMONT_MODE            68.4
WALLSMATERIAL_MODE            50.8
HOUSETYPE_MODE                50.2
EMERGENCYSTATE_MODE           47.4
OCCUPATION_TYPE               31.3
ORGANIZATION_TYPE             18.0
NAME_TYPE_SUITE                0.4
CODE_GENDER                    0.0
SK_ID_CURR                     0.0
FLAG_OWN_CAR                   0.0
FLAG_OWN_REALTY                0.0
NAME_HOUSING_TYPE              0.0
NAME_INCOME_TYPE               0.0
NAME_EDUCATION_TYPE            0.0
NAME_FAMILY_STATUS             0.0
WEEKDAY_APPR_PROCESS_START     0.0
NAME_CONTRACT_TYPE             0.0
dtype: float64

In [ ]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy = 'median')
num_imputer.fit(num_df)
num_df = num_imputer.transform(num_df)

In [ ]:
num_df=pd.DataFrame(data=num_df,columns=num_cols)

In [ ]:
num_train_mis_values_after = missing_values(num_df)

In [ ]:
num_train_mis_values_after

STATUS_X                                               0.0
NAME_CASH_LOAN_PURPOSE_Building a house or an annex    0.0
RATE_INTEREST_PRIVILEGED                               0.0
DAYS_DECISION                                          0.0
SELLERPLACE_AREA                                       0.0
CNT_PAYMENT                                            0.0
DAYS_FIRST_DRAWING                                     0.0
DAYS_FIRST_DUE                                         0.0
DAYS_LAST_DUE_1ST_VERSION                              0.0
DAYS_LAST_DUE                                          0.0
DAYS_TERMINATION                                       0.0
NAME_CONTRACT_TYPE_Cash loans                          0.0
NAME_CONTRACT_TYPE_Consumer loans                      0.0
NAME_CONTRACT_TYPE_Revolving loans                     0.0
NAME_CONTRACT_TYPE_XNA                                 0.0
WEEKDAY_APPR_PROCESS_START_FRIDAY                      0.0
WEEKDAY_APPR_PROCESS_START_MONDAY                      0.0
WEEKDAY_APPR_PROCESS_START_SATURDAY                    0.0
WEEKDAY_APPR_PROCESS_START_SUNDAY                      0.0
WEEKDAY_APPR_PROCESS_START_THURSDAY                    0.0
WEEKDAY_APPR_PROCESS_START_TUESDAY                     0.0
RATE_INTEREST_PRIMARY                                  0.0
RATE_DOWN_PAYMENT                                      0.0
HOUR_APPR_PROCESS_START_y                              0.0
AMT_REQ_CREDIT_BUREAU_HOUR                             0.0
FLAG_DOCUMENT_14                                       0.0
FLAG_DOCUMENT_15                                       0.0
FLAG_DOCUMENT_16                                       0.0
FLAG_DOCUMENT_17                                       0.0
FLAG_DOCUMENT_18                                       0.0
                                                      ...
PRODUCT_COMBINATION_POS mobile with interest           0.0
PRODUCT_COMBINATION_POS mobile without interest        0.0
PRODUCT_COMBINATION_POS other with interest            0.0
PRODUCT_COMBINATION_POS others without interest        0.0
NFLAG_LAST_APPL_IN_DAY                                 0.0
NFLAG_INSURED_ON_APPROVAL                              0.0
FLAG_LAST_APPL_PER_CONTRACT_N                          0.0
PRODUCT_COMBINATION_Card X-Sell                        0.0
NAME_YIELD_GROUP_middle                                0.0
CHANNEL_TYPE_Contact center                            0.0
NAME_SELLER_INDUSTRY_Consumer electronics              0.0
CHANNEL_TYPE_Country-wide                              0.0
CHANNEL_TYPE_Credit and cash offices                   0.0
CHANNEL_TYPE_Regional / Local                          0.0
CHANNEL_TYPE_Stone                                     0.0
NAME_SELLER_INDUSTRY_Auto technology                   0.0
NAME_SELLER_INDUSTRY_Clothing                          0.0
NAME_SELLER_INDUSTRY_Connectivity                      0.0
NAME_SELLER_INDUSTRY_Construction                      0.0
NAME_SELLER_INDUSTRY_Furniture                         0.0
NAME_YIELD_GROUP_low_normal                            0.0
NAME_SELLER_INDUSTRY_Industry                          0.0
NAME_SELLER_INDUSTRY_Jewelry                           0.0
NAME_SELLER_INDUSTRY_MLM partners                      0.0
NAME_SELLER_INDUSTRY_Tourism                           0.0
NAME_SELLER_INDUSTRY_XNA                               0.0
NAME_YIELD_GROUP_XNA                                   0.0
NAME_YIELD_GROUP_high                                  0.0
NAME_YIELD_GROUP_low_action                            0.0
SK_ID_CURR                                             0.0
Length: 358, dtype: float64

In [ ]:
cat_imputer = SimpleImputer(strategy = 'most_frequent')
cat_imputer.fit(cat_df)
cat_df = cat_imputer.transform(cat_df)

In [ ]:
cat_df=pd.DataFrame(data=cat_df,columns=cat_cols)

In [ ]:
cat_train_mis_values_after = missing_values(cat_df)

In [ ]:
cat_train_mis_values_after