In [1]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
print ('Ran')

Ran

In [2]:
imputed_train =pd.read_csv('C:/Users/dbda/Desktop/Work/Imputed Train/imputed_train.csv')

In [3]:
imputed_train.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,TARGET,SK_ID_CURR
0,0.000000,24700.5,9251.775,179055.00,26793.606316,149727.272727,1312.010357,111388.838727,70223.142857,3198.8565,...,0.0,1,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341,1,100002
1,5273.497207,35698.5,56553.990,435436.50,26793.606316,149727.272727,0.000000,254350.125000,0.000000,202500.0000,...,0.0,0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040,0,100003
2,5273.497207,6750.0,5357.250,24282.00,26793.606316,149727.272727,0.000000,94518.900000,0.000000,0.0000,...,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100004
3,5273.497207,29686.5,23651.175,272203.26,0.000000,270000.000000,0.000000,188810.835268,36886.500000,0.0000,...,0.0,1,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100006
4,5273.497207,21865.5,12278.805,150530.25,26793.606316,149727.272727,0.000000,146250.000000,0.000000,0.0000,...,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100007

In [4]:
imputed_train.shape

(307511, 466)

In [5]:
imputed_test = pd.read_csv('C:/Users/dbda/Desktop/Work/Imputed Train/imputed_test.csv')

In [6]:
imputed_test.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_TUESDAY.1,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,SK_ID_CURR
0,1236.244186,20560.5,3951.000,24835.50,16381.567500,145843.373494,0.0,161516.250000,23893.770349,0.000000,...,0.0,0.0,0.0,0.9732,0.9732,0.9732,0.7552,0.7585,0.7583,100001
1,608.785714,17370.0,4813.200,22308.75,16381.567500,145843.373494,0.0,175903.714286,132923.785714,0.000000,...,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583,100005
2,0.000000,69777.0,11478.195,130871.25,18159.919219,131718.750000,19305.0,532530.923478,0.000000,0.000000,...,0.0,1.0,1.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583,100013
3,1191.480605,49018.5,8091.585,49207.50,8085.058163,225000.000000,0.0,110187.861107,4962.624477,2934.137749,...,0.0,0.0,0.0,0.9970,0.9970,0.9970,0.9592,0.9597,0.9608,100028
4,4189.362245,32067.0,17782.155,267727.50,16381.567500,145843.373494,0.0,183811.058824,25415.566390,0.000000,...,1.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583,100038

In [7]:
train_sk_id_curr = imputed_train['SK_ID_CURR']
test_sk_id_curr = imputed_test['SK_ID_CURR']

In [8]:
imputed_test=imputed_test.drop('SK_ID_CURR', axis=1)

In [9]:
imputed_test.shape

(48744, 464)

In [10]:
X = imputed_train.drop(['TARGET','SK_ID_CURR'],axis=1)
y = imputed_train['TARGET']

In [11]:
# ###### Now level 1 model-1 XGB ############################################################

from xgboost import XGBClassifier 
model_xgb=XGBClassifier(random_state=2019,learningrate =0.01, nestimators=10000,
maxdepth=4, minchildweight=4, subsample=0.8, colsamplebytree=0.8,
objective= 'binary:logistic', 
nthread=4,
scaleposweight=2)

In [12]:
model_xgb.fit(X,y)
pred_xgb=model_xgb.predict_proba(X)[:,1]

In [13]:
pred_xgb.shape

(307511,)

In [14]:
####  Now level 1 model-2 CatBoost ######

from catboost import CatBoostClassifier
model_cat = CatBoostClassifier(iterations=500,
                              learning_rate=0.1,
                              depth=8,
                              loss_function='Logloss',
                              bootstrap_type='Bernoulli',
                              eval_metric='AUC',
                              class_weights=[1, 2],
                              random_seed=9, 
                              verbose=False)

In [15]:
model_cat.fit(X,y)
pred_cat=model_cat.predict_proba(X)[:,1]

In [16]:
###### Combining all the predictions #####

pred_xgb=pd.Series(pred_xgb)
pred_cat=pd.Series(pred_cat)

comb_pred=pd.concat([pred_xgb,pred_cat],axis=1)
comb_pred.columns=['pred_xgb','pred_cat']

In [17]:
# ###### Now level 2 model LGBM ############################################################

from lightgbm import LGBMClassifier
model_lgbm = LGBMClassifier(
       nthread=4,
        objective='binary',
       n_estimators=10000,
       learning_rate=0.02,
       num_leaves=32,
       colsample_bytree=0.9497036,
       subsample=0.8715623,
       max_depth=8,
       reg_alpha=0.04,
       reg_lambda=0.073,
       min_split_gain=0.0222415,
       min_child_weight=40,
       random_state=2019,
       silent=-1,
       verbose=-1)

In [18]:
model_lgbm.fit(comb_pred,y)

LGBMClassifier(boosting_type='gbdt', class_weight=None,
        colsample_bytree=0.9497036, importance_type='split',
        learning_rate=0.02, max_depth=8, min_child_samples=20,
        min_child_weight=40, min_split_gain=0.0222415, n_estimators=10000,
        n_jobs=-1, nthread=4, num_leaves=32, objective='binary',
        random_state=2019, reg_alpha=0.04, reg_lambda=0.073, silent=-1,
        subsample=0.8715623, subsample_for_bin=200000, subsample_freq=0,
        verbose=-1)

In [19]:
pred_xgb = model_xgb.predict_proba(imputed_test)[:,1]

In [20]:
pred_cat=model_cat.predict_proba(imputed_test)[:,1]

In [21]:
###### Combining all the predictions for test set #####
pred_xgb=pd.Series(pred_xgb)
pred_cat=pd.Series(pred_cat)
comb_pred_test=pd.concat([pred_xgb,pred_cat],axis=1)

In [22]:
comb_pred_test.columns=['pred_xgb','pred_cat']

In [23]:
pred_test_data=model_lgbm.predict_proba(comb_pred_test)[:,1]

In [24]:
submission = pd.DataFrame({'SK_ID_CURR': test_sk_id_curr, 'TARGET': pred_test_data})

In [26]:
submission.to_csv('C:/Users/dbda/Desktop/Work/Stack_Ensemble/Stack_1.csv', index = False)