In [1]:
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from scipy import stats
print ('Ran')

Ran

In [2]:
app_train = pd.read_csv('D:/Project_Data/application_train.csv')
app_test= pd.read_csv('D:/Project_Data/application_test.csv')

In [3]:
app_train.shape

(307511, 122)

In [4]:
app_test.shape

(48744, 121)

In [5]:
def missing_values(df):
    
    total_missing = df.isnull().sum()/df.shape[0]
    percent_missing = total_missing*100
    return percent_missing.sort_values(ascending=False).round(1)

In [6]:
app_train_mis_values = missing_values(app_train)
app_test_mis_values = missing_values(app_test)

In [7]:
df_app_train_miss_values= pd.DataFrame({'columns': app_train_mis_values.index, 'missing percent': app_train_mis_values.values})
df_app_test_miss_values= pd.DataFrame({'columns': app_test_mis_values.index, 'missing percent': app_test_mis_values.values})

In [8]:
drop_columns = df_app_train_miss_values[df_app_train_miss_values['missing percent'] >= 40]['columns'].tolist()
drop_columns

['COMMONAREA_MEDI',
 'COMMONAREA_AVG',
 'COMMONAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_AVG',
 'FONDKAPREMONT_MODE',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAPARTMENTS_AVG',
 'FLOORSMIN_MEDI',
 'FLOORSMIN_MODE',
 'FLOORSMIN_AVG',
 'YEARS_BUILD_MEDI',
 'YEARS_BUILD_AVG',
 'YEARS_BUILD_MODE',
 'OWN_CAR_AGE',
 'LANDAREA_MODE',
 'LANDAREA_AVG',
 'LANDAREA_MEDI',
 'BASEMENTAREA_MEDI',
 'BASEMENTAREA_AVG',
 'BASEMENTAREA_MODE',
 'EXT_SOURCE_1',
 'NONLIVINGAREA_MEDI',
 'NONLIVINGAREA_AVG',
 'NONLIVINGAREA_MODE',
 'ELEVATORS_MODE',
 'ELEVATORS_AVG',
 'ELEVATORS_MEDI',
 'WALLSMATERIAL_MODE',
 'APARTMENTS_MODE',
 'APARTMENTS_AVG',
 'APARTMENTS_MEDI',
 'ENTRANCES_MEDI',
 'ENTRANCES_MODE',
 'ENTRANCES_AVG',
 'LIVINGAREA_MEDI',
 'LIVINGAREA_MODE',
 'LIVINGAREA_AVG',
 'HOUSETYPE_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMAX_MEDI',
 'FLOORSMAX_AVG',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BEGINEXPLUATATION_MODE',
 'TOTALAREA_MODE',
 'EMERGENCYSTATE_MODE']

In [9]:
drop_columns1 = df_app_test_miss_values[df_app_test_miss_values['missing percent'] >= 40]['columns'].tolist()
drop_columns1

['COMMONAREA_MEDI',
 'COMMONAREA_AVG',
 'COMMONAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_AVG',
 'FONDKAPREMONT_MODE',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAPARTMENTS_MODE',
 'FLOORSMIN_MEDI',
 'FLOORSMIN_MODE',
 'FLOORSMIN_AVG',
 'OWN_CAR_AGE',
 'YEARS_BUILD_MEDI',
 'YEARS_BUILD_MODE',
 'YEARS_BUILD_AVG',
 'LANDAREA_AVG',
 'LANDAREA_MODE',
 'LANDAREA_MEDI',
 'BASEMENTAREA_AVG',
 'BASEMENTAREA_MODE',
 'BASEMENTAREA_MEDI',
 'NONLIVINGAREA_MODE',
 'NONLIVINGAREA_AVG',
 'NONLIVINGAREA_MEDI',
 'ELEVATORS_AVG',
 'ELEVATORS_MEDI',
 'ELEVATORS_MODE',
 'WALLSMATERIAL_MODE',
 'APARTMENTS_AVG',
 'APARTMENTS_MEDI',
 'APARTMENTS_MODE',
 'HOUSETYPE_MODE',
 'ENTRANCES_MEDI',
 'ENTRANCES_AVG',
 'ENTRANCES_MODE',
 'LIVINGAREA_MEDI',
 'LIVINGAREA_MODE',
 'LIVINGAREA_AVG',
 'FLOORSMAX_MODE',
 'FLOORSMAX_MEDI',
 'FLOORSMAX_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BEGINEXPLUATATION_MODE',
 'TOTALAREA_MODE',
 'EMERGENCYSTATE_MODE',
 'EXT_SOURCE_1']

In [10]:
app_train = app_train.drop(drop_columns, axis=1)

In [11]:
app_test = app_test.drop(drop_columns, axis=1)

In [12]:
app_train.shape

(307511, 73)

In [13]:
app_test.shape

(48744, 72)

In [14]:
imp_list_train=['NAME_INCOME_TYPE',
   'AMT_CREDIT',
   'NAME_FAMILY_STATUS',
   'CODE_GENDER',
   'FLAG_DOCUMENT_3',
   'REGION_RATING_CLIENT',
   'NAME_HOUSING_TYPE',
   'CNT_FAM_MEMBERS',
   'OCCUPATION_TYPE',
   'DAYS_BIRTH',
   'DAYS_EMPLOYED',
   'AMT_INCOME_TOTAL',
   'NAME_CONTRACT_TYPE',
   'AMT_ANNUITY',
   'FLAG_DOCUMENT_7',
   'NAME_EDUCATION_TYPE',
   'FLAG_DOCUMENT_17',
    'EXT_SOURCE_2',
 'EXT_SOURCE_3',
'DAYS_ID_PUBLISH',
    'SK_ID_CURR',
 'TARGET',
         'AMT_GOODS_PRICE']
type(imp_list_train)

list

In [15]:
imp_list_test=['NAME_INCOME_TYPE',
   'AMT_CREDIT',
   'NAME_FAMILY_STATUS',
   'CODE_GENDER',
   'FLAG_DOCUMENT_3',
   'REGION_RATING_CLIENT',
   'NAME_HOUSING_TYPE',
   'CNT_FAM_MEMBERS',
   'OCCUPATION_TYPE',
   'DAYS_BIRTH',
   'DAYS_EMPLOYED',
   'AMT_INCOME_TOTAL',
   'NAME_CONTRACT_TYPE',
   'AMT_ANNUITY',
   'FLAG_DOCUMENT_7',
   'NAME_EDUCATION_TYPE',
   'FLAG_DOCUMENT_17',
    'EXT_SOURCE_2',
 'EXT_SOURCE_3',
'DAYS_ID_PUBLISH',
    'SK_ID_CURR',
         'AMT_GOODS_PRICE']
type(imp_list_test)

list

In [30]:
app_test[imp_list_test].dtypes

NAME_INCOME_TYPE         object
AMT_CREDIT              float64
NAME_FAMILY_STATUS       object
CODE_GENDER              object
FLAG_DOCUMENT_3           int64
REGION_RATING_CLIENT      int64
NAME_HOUSING_TYPE        object
CNT_FAM_MEMBERS         float64
OCCUPATION_TYPE          object
DAYS_BIRTH                int64
DAYS_EMPLOYED             int64
AMT_INCOME_TOTAL        float64
NAME_CONTRACT_TYPE       object
AMT_ANNUITY             float64
FLAG_DOCUMENT_7           int64
NAME_EDUCATION_TYPE      object
FLAG_DOCUMENT_17          int64
EXT_SOURCE_2            float64
EXT_SOURCE_3            float64
DAYS_ID_PUBLISH           int64
SK_ID_CURR                int64
AMT_GOODS_PRICE         float64
dtype: object

In [16]:
unimp_features_train = [f for f in app_train.columns if not f in imp_list_train]

In [17]:
unimp_features_test = [f for f in app_test.columns if not f in imp_list_test]

In [18]:
unimp_features_train

['FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'NAME_TYPE_SUITE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_REGISTRATION',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [19]:
unimp_features_test

['FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'NAME_TYPE_SUITE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_REGISTRATION',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [20]:
app_train = app_train.drop(unimp_features_train, axis=1)

In [21]:
app_test = app_test.drop(unimp_features_test, axis=1)

In [22]:
app_train.shape

(307511, 23)

In [23]:
app_test.shape

(48744, 22)

In [24]:
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,...,DAYS_EMPLOYED,DAYS_ID_PUBLISH,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_3,FLAG_DOCUMENT_7,FLAG_DOCUMENT_17
0,100001,Cash loans,F,135000.0,568800.0,20560.5,450000.0,Working,Higher education,Married,...,-2329,-812,NaN,2.0,2,0.789654,0.159520,1,0,0
1,100005,Cash loans,M,99000.0,222768.0,17370.0,180000.0,Working,Secondary / secondary special,Married,...,-4469,-1623,Low-skill Laborers,2.0,2,0.291656,0.432962,1,0,0
2,100013,Cash loans,M,202500.0,663264.0,69777.0,630000.0,Working,Higher education,Married,...,-4458,-3503,Drivers,2.0,2,0.699787,0.610991,0,0,0
3,100028,Cash loans,F,315000.0,1575000.0,49018.5,1575000.0,Working,Secondary / secondary special,Married,...,-1866,-4208,Sales staff,4.0,2,0.509677,0.612704,1,0,0
4,100038,Cash loans,M,180000.0,625500.0,32067.0,625500.0,Working,Secondary / secondary special,Married,...,-2191,-4262,NaN,3.0,2,0.425687,NaN,1,0,0

In [26]:
app_train.to_csv('C:/Users/dbda/Desktop/Work/UI/application_train_new_ui.csv',index=False)

In [27]:
app_test.to_csv('C:/Users/dbda/Desktop/Work/UI/application_test_new_ui.csv',index=False)